.form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.seu-projeto {
    width: 90vw;
    margin-top: 2rem;
}

.nome-projeto {
    width: calc(90vw - var(--padding-placeholder));
    height: 3.5rem;
    margin-top: 1rem;
}

.descricao-projeto {
    width: calc(90vw - var(--padding-placeholder));
    /* height: 5rem; */
    margin-top: 1rem;
    padding-top: 0;
}

.personalizacao {
    width: 90vw;
    margin-top: 2rem;
}

.seletor-linguagem {
    width: 90vw;
    margin-top: 1rem;
    cursor: pointer;
    height: 3.5rem;
    font-size: 1rem;
    background: var(--cor-input);
    color: var(--cor-placeholder);
}

select option {
    background-color: #3781a3;
    font-weight: bold;
}

.seletor-cor {
    box-sizing: border-box;
    height: 3.5rem;
    width: 90vw;
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-top: 1rem;
    background: var(--cor-botao-cor);
}

.botao-salvar {
    margin-bottom: 3rem;
    cursor: pointer;
    margin-top: 2rem;
    height: 3.5rem;
    width: 90vw;
    font-size: 1rem;
    color: var(--bg-color);
    background: var(--cor-botao-salvar);
    border-radius: 8px;
    border: none;
    
}

@media screen and (min-width: 768px) {
    .seu-projeto, .personalizacao {
        margin-left: 0;
    }

    .seu-projeto {
        place-self: center;
    }

    .personalizacao {
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 1.5rem;
    }

    .personalizacao h3 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .seletor-linguagem {
        grid-area: 2 / 1 / 2 / 1;
        width: 100%;
    }

    .seletor-cor {
        grid-area: 2 / 2 / 2 / 2;
        width: 100%;
    }

    .botao-salvar {
        grid-area: 3 / 1 / 3 / 3;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .seu-projeto, .personalizacao {
        box-sizing: border-box;
        width: 100%;
        margin-left: 1.5rem;
    }

    .seu-projeto {
        grid-area: 1 / 3 / 1 / 3;
        justify-self: end;
        padding-left: 1.5rem;
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    .personalizacao {
        grid-area: 2 / 3 / 2 / 3;
        justify-self: end;
        align-items: stretch;
        display: flex;
        flex-direction: column;
        padding-left: 1.5rem;
        margin-top: 2rem;
    }

    .seletor-cor {
        margin-left: .5%;
    }

    .itens-menu-direito {
        width: 100%;
    }

    .descricao-projeto, .nome-projeto {
        width: calc(100% - var(--padding-placeholder));
    }
}