header {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;

    margin: 5vw;
    height: 10vh;
    max-height: 100px;
    width: auto;
}

.busca {
    display: none;
}

.usuario-logado {
    display: none;
}

.logo {
    height: 100%;
}

.lupa {
    grid-column: 3 / 3;
    justify-self: end;
}

.barras, .fechar {
    justify-self: end;
    grid-column: 4 / 4;
    justify-self: end;
}

.fechar {
    display: none;
}

@media screen and (min-width: 768px) {
    header {
        grid-template-columns: auto auto auto auto auto;
    }

    .busca {
        grid-column: 2 / 5;
        display: unset;
        width: calc(100% - var(--padding-placeholder));
        height: 100%;
    }

    .lupa {
        display: none;
    }

    .barras, .fechar {
        grid-column:  5 / 5;
    }

}

@media screen and (min-width: 1024px) {
    header {
        max-height: 80px;
        grid-template-columns: 2fr 4fr 1fr 1fr;
        grid-template-rows: auto;
        margin: 2rem;
    }

    .logo {
        width: 50%;
        height: auto;
        min-width: 115px;
    }

    .busca {
        grid-column: 2 / 2;
        height: 100%;
    }

    .usuario-logado {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        grid-column: 4 / 4;
        justify-self: end;
        width: 7rem;
        height: 3.5rem;
    }

    .foto-usuario {
        width: 2rem;
    }
    
    .nome {
        color: white;
        font-family: 'Inter';
        font-size: 1rem;
    }

    .barras, .fechar {
        display: none;
    }
}